* {
    font-family: 'Rubik', sans-serif;
}
a {
    color: #1B4965;
}
b {
    font-weight: 500;
    font-size: larger;
}
p {
    margin: 0;
}
header {
    height: 50px;
}
.offcanvas-backdrop{
    display: none;
}
.offcanvas-footer {
    padding: 1em;
}
body {
    background: url(../img/illu-abstrait.jpg) fixed no-repeat;
    background-size: cover;
    padding: 10px;
}
h1 {
    text-align: center;
    padding: 1em;
    background-color: #CAE9FF;
    height: 220px;
    border-radius: 10px;
}
.titre {
    background-color: rgb(220, 196, 231);
    padding: 15px;
    border-radius: 10px;
    margin-top: 1em;
    font-size: larger;
    text-align: center;
    color: #1B4965;
}
#page {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: -100px;
}
h1, h2, h3 {
    font-style: italic;
    color: #1B4965;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 5vh;
}
h2 {
    background-color: #CAE9FF;
    padding: 15px;
    border-radius: 10px;
    margin-top: 1em;
}

/* PRESENTATION */
#presentation article, #experiences article {
    background-color: #1E2D4C;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}
.textValeur {
    background-color: #2F3A58;
    padding: 1em;
    border-radius: 10px;
}
.textNOValeur {
    padding: 1em;
}
#presentation figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#presentation img {
    padding: 10px;
    width: 10em;
    border-radius: 10px;
}
.whiteText {
    color: #ffffff;
    font-weight: 300;
}
h3 {
    align-self: start;
    padding-top: 1em;
}
ol {
    margin: 0;
}

/* COMPETENCES */
#competences:not(#competences h2) {
    padding: 0 1.5em 0 1.5em;
}
.ligne-competence:first-of-type {
    padding-top: 1em;
}
.ligne-competence {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.icone-competence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
}
.ligne-competence figure, #contact figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ligne-competence figcaption, #contact figcaption {
    font-size: smaller;
}
.ligne-competence h3 {
    text-align:justify;
}
i:not(nav i), footer a i {
    font-size: 2em;
    padding: 15px;
    color: #1E2D4C;
}

/* EXPERIENCES */
#experiences > article > div {
    padding: 0 10px 10px 10px;
}
.formation {
    display: flex;
    flex-direction: column;
}
.formation img {
    align-self: center;
}
.logo {
    width: 9em;
    padding: 1em;
    border-radius: 20px;
}

/* REALISATION */
#realisationsPerso, #realisationsProjet  {
    flex-flow: row wrap;
    justify-content: center;
}
.info  {
    font-style: italic;
    padding-bottom: 1em;
    align-self: flex-start;
}
.boiteRealisation {
    padding: 0.8em;
    width: max-content;
}
.boiteRealisation > h5 {
    border-radius: 0 0 10px 10px;
}
h5 {
    text-align: center;
    font-size: smaller;
    background-color: #CAE9FF;
    padding: 1em;
    margin: 0;
    color: #1B4965;
    width: 100%;
}
.carteRealisation figcaption, .carteRealisation p {
    display: flex;
    flex-direction: column;
}
.carteRealisation > figcaption i, .carteRealisation > p i {
    font-size: smaller;
    padding: 8px;
}
.carteRealisation {
    position: relative;
    width: 230px;
    margin: 0;
}
.carteRealisation img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.carteRealisation:hover .textHover {
    opacity: 1;
}
.textHover {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0;
    transition: all 0.25s;
    background-color: #ffffffb6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.carteProjet {
    background-color: #2F3A58;
    padding: 1em;
    height: 200px;
}

/* CONTACT */
#contact div  {
    display: flex;
}

/* ANIMATION */
#presentation {
    transform: translateY(10vh);
    animation: fadeInUp 1s  ease-out forwards;
}
#competences, #experiences, #realisations, #contact {
    transform: translateY(10vh);
    animation: fadeInUp 2s  ease-out forwards;
}
@keyframes fadeInUp {
    100% {
        transform: none;
    }
}

footer a {
    display: flex;
    justify-content: center;
    background-color: #CAE9FF;
    text-decoration: none;
    border-radius: 10px;
}
footer a i {
    font-size: 1em;
    padding: 0.5em;
}


@media (min-width:576px) {
    #presentation article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #presentation > article figure {
        padding-right: 1em;
    }
    .formation {
        flex-direction: row;
        align-items: center;
    }
    .formation span {
        width: 40%;
    }
}
@media (min-width:768px) {
    body, #page {
        padding: 0 1.5em 0 1.5em;
    }
    .ligne-competence {
        flex-direction: row;
    }
    .ligne-competence > h3 {
        width: 25%;
    }
    .icone-competence {
        padding: 0;
        width: 75%;
    }
}
@media (min-width:900px) {
    #competences:not(#competences h2) {
        padding: 0 5.5em 0 5.5em;
    }
    .icone-competence {
        justify-content: space-between;
    }
}
@media (min-width:1200px) { /*à partir de 1200px la nav est ouverte voir js*/
    .btn-close {
        display: none;
    }
    #offcanvasNavbar {
        width: 300px;
    }
    main, footer {
        padding: 0 50px 0 350px;
    }
    #page {
        padding: 0 4em 0 4em;
    }
    .formation span {
        width: 50%;
    }
    #competences:not(#competences h2) {
        padding: 0 2.5em 0 2.5em;
    }
    
}

