* {
    font-family: 'Rubik', sans-serif;
}

b {
    font-weight: 500;
    font-size: larger;
}

p {
    margin: 0;
}

header {
    height: 50px;
}

.offcanvas-backdrop {
    display: none;
}

body {
    background: url(/assets/img/illu-abstrait.jpg) fixed no-repeat;
    background-size: cover;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 1em;
    background-color: #CAE9FF;
    height: 220px;
    border-radius: 50px;
}

#page {
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    top: -100px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-style: italic;
    color: #1B4965;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h2 {
    background-color: #CAE9FF;
    padding: 15px;
    border-radius: 50px;
    margin-top: 1em;
}

#presentation article, #experiences article {
    background-color: #1E2D4C;
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px;
}

.textValeur {
    background-color: #2F3A58;
    padding: 18px;
    border-radius: 50px;
}

#presentation figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation img {
    padding: 10px;
}

.whiteText {
    color: #ffffff;
    font-weight: 300;
}

h3 {
    align-self: start;
    padding-top: 1em;
}

/* COMPETENCES */
#competences div, #contact div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#competences div:not(#competences div:last-child) {
    border-bottom: dashed 2px #1E2D4C;
}

#competences figure, #contact figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#competences figcaption, #contact figcaption {
    font-size: smaller;
}

i:not(nav i) {
    font-size: 2em;
    padding: 17px;
    color: #1E2D4C;
}

.formation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiences > article > div:not(#experiences > article > div:first-child) {
    padding: 10px;
}

/* REALISATION */
.btn-group {
    align-self: start;
    padding: 1em 0 1em 0;
}

#realisations button {
    background-color: #1E2D4C;
}

#realisations button:hover {
    background-color: #2F3A58;
}

span {
    font-style: italic;
    padding: 1em 0 1em 0;
}

.carteRealisation {
    position: relative;
    width: 230px;
}

.carteRealisation img {
    width: 100%;
}

.carteRealisation:hover .textHover {
    opacity: 1;
}

.textHover {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0;
    transition: all 0.25s;
    background-color: #CAE9FF;
}